<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1" />
    <title>User Registration</title>
</head>
<body>
<h2>Application:</h2>
<form action="#" th:action="@{/register}"
      th:object="${user}" method="post">
    Email:<input type="text" th:field="*{email}" /><br></br>
    Password:<input type="password" th:field="*{password}" /><br></br>
    GPA:<input type="gpa" th:field="*{gpa}"/><br></br>
    Graduation Year:<input type="gpa" th:field="*{graduationYear}"/><br></br>
    <input type="submit" value="Submit" />
</form>
</body>
</html>